@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>About The Flying Saucer</h1>
<h2>@ViewData["Title"]</h2>


<p>Founded in 2021 by a group of definitely human Earth people, The Flying Saucer provides breakfast repast at any hour of the day for your devouring. Beam down to and of our many Earth-based locations for a taste.</p>
